* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150vh;
    background-color: #f9f9fb;
  }
  
  .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .card {
    width: 420px;
    height: 340px;
    margin: 1em;
    perspective: 1500px;
  }
  
  .card .content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
  }
  
  .more {
    display: none;
  }
  
  .more:checked ~ .content {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 9px;
    transform-style: preserve-3d;
  }
  
  .front {
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    background-color: #fff;
  }
  
  .front::after {
    content: '';
    position: absolute;
    inset: 0;
    
    border-radius: 9px;
  }
  
  .front .inner {
    height: 100%;
    display: grid;
    padding: 1.5em;
    transform: translateZ(90px) scale(0.94);
    grid-template-rows: 5fr 1fr 2fr;
    justify-items: center;
  }
  
  .front h2 {
    position: relative;
    z-index: 1;
    color: white; 
    text-shadow: 0 0 5px rgba(0,0,0,0.7);
  }
  
  .button {
    grid-row: 4;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    padding: 0 1.5em;
    height: 3em;
    line-height: 2.9em;
    min-width: 3em;
    background-color: transparent;
    border: 3px solid #000000;
    color: #000000;
    border-radius: 4px;
    text-align: center;
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  .button:hover {
    background-color: #fff;
    color: #111;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }
  
  .button.return {
    color: #080c17;
    border-color: #080c17;
    text-shadow: none;
  }
  
  .button.return:hover {
    background-color: #355cc9;
    color: #fff;
  }
  
  .back {
    transform: rotateY(180deg);
    background: #fff;
    border: 2px solid #ececec;
  }
  
  .back .inner {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 0.8em;
    padding: 1.5em;
    transform: translateZ(90px) scale(0.94);
    justify-items: center;
  }
  
  .back .title,
  .back .price {
    font-weight: 600;
    font-size: 0.9em;
    color: #080c17;
    grid-row: 1;
  }
  
  .back .title {
    grid-column: 1/3;
    justify-self: left;
  }
  
  .back .price {
    grid-column: 3/-1;
    justify-self: right;
  }
  
  .back .info {
    grid-row: 3;
    display: flex;
    align-items: center;
    color: #1d3062;
  }
  
  .back .info span {
    font-size: 1.2em;
    font-weight: 700;
  }
  
  .back .info .icon {
    margin-left: 1em;
  }
  
  .back .info .icon span {
    display: block;
    font-size: 0.9em;
    font-weight: 600;
  }
  
  .back .info i {
    font-size: 1.5em;
    color: #4f6df5;
  }
  
  .back .description {
    grid-row: 4;
    grid-column: 1/-1;
    font-size: 0.86em;
    font-weight: 600;
    line-height: 1.5;
    color: #080c17;
    overflow: auto;
    max-height: 110px;
    padding-right: 10px;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: #859ddf;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #080c17;
  }